.main {
    position: relative;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


// modal

.modal.close {
    display: none;
}
.modal.show {
    opacity: 1;
    transition: 1s ease-out;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vw;
    height: 100%;
    z-index: 9999;
    background-color:rgba($color: #1d2834, $alpha: .5);

    .modal-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding-top: 60px;
    }

    .modal-details {
        position: relative;
        width: 100vh;
        height: 85vh;
        background-image: url(https://static.wixstatic.com/media/130b0f_a67fbebf5ee84850864041c51788eac4~mv2.jpg/v1/fill/w_875,h_746,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/130b0f_a67fbebf5ee84850864041c51788eac4~mv2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .modal-btnClose {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        color: #fff;

        i {
            display: block;
            padding: 20px;
            cursor: pointer;
            opacity: .3;
            transition: .3s;

            &:hover {
                opacity: 1;
            }
        }
    }

    .modal-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 70%;
        height: 100%;
        margin-left: auto;
        padding: 30px 0;

        .modal-logo {
            
            img {
                height: 70px;
            }
        }
        h1 {
            font-family: $font-second;
            color: #fff;
            font-size: 50px;
            transform: scaleY(90%);
        }

        p {
            font-family: $font-second;
            color: #fff;
            font-size: 24px;
            text-align: center;
            transform: scaleY(90%);
        }

        span {
            font-size: 20px;
            color: #fff;
            font-weight: 100;
        }


        .modal-btn {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;

            .btn-shopee {
                display: flex;
                border: 1px solid #fff;
                background-color: rgb(30, 30, 30);
                color: #fff;
                margin: 12px 6px;

                &:hover {
                    background-color: #fff;
                    color: #000;
                    transition: .3s;
                }

                a {
                    text-decoration: none;
                    font-weight: 500;
                    letter-spacing: .1em;
                    padding: 6px 12px;
                    color: unset;
                }
            }
        }
    }

    .modal-info {
        position: absolute;
        left: 0;
        bottom: 0%;
        margin: 40px;

        h2 {
            font-size: 20px;
            color: #fff;
            font-weight: 700;
            line-height: 1;
            font-style: italic;
        }

        p {
            font-size: 20px;
            color: #fff;
            font-weight: 300;
            line-height: 1.5;
            font-style: italic;
        }
    }
}

// end modal

// others
.others {
    position:fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.other-container {
    width: auto;
    height: auto;
    margin: 14px 20px;
    display: flex;
    align-items: flex-end;

    .backToTop {
        margin-right: 14px;

        button {
            display: flex;
            align-items: center;
            border: 1px solid #fff;
            // border-radius: 2px;
            background-color: #000;
            color: #fff;
            transition: .3s;

            &:hover {
                color: #000;
                background-color: #fff;
            }

            a {
                // background: #000;
                font-size: 12px;
                color: unset;
                padding: 12px 24px;
                text-decoration: none;
                cursor: pointer;

                i {
                    font-size: 10px;
                    margin-left: 8px;
                }
            }
        }
    }

    .chatBox {
        display: flex;
        width: 60px;
        height: 60px;
        background-color: #000;

        

        button {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            border: 1px solid #fff;
            // border-radius: 2px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            transition: .3s;

            &:hover {
                color: #000;
                background-color: #fff;
            }


            i {
                font-size: 24px;
                // color: #fff;
            }
        }
    }
}
// end others


// navbar

#top {
    position: sticky;
    top: 0;
    z-index: 999;
}
.header.expand {
    overflow: unset;
}
.header {
    background-color: #000;
    width: 100%;
    overflow: hidden;

    .header-container {
        background-color: #000;
        width: 100%;
        max-width: 1500px;
        padding: 0 50px;
        height: 60px;
        margin: 0 auto;
        
        .main-header-inner {
            background-color: #000;
            display: flex;
            width: 100%;
            height: 100%;
            padding: 12px 0;
            align-items: center;
            justify-content: space-between;
            z-index: 99;
        }
    }

    .nav-social {
        // margin-right: 50px;
        display: flex;
        flex-shrink: 1;

        .socials {
            display: flex;
            align-items: center;

            .social-item {
                display: flex;
                align-items: center;
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: #fff;
                    transition: .3s;

                    &:hover {
                        cursor: pointer;
                        color: #ccc;
                    }
                }
            }
        }
    }

    .nav-logo {
        height: 100%;
        flex-shrink: 1;
        // margin-right: 50px;
        
        img {
            height: 100%;

            &:hover {
                filter: brightness(90%);
                cursor: pointer;
            }
        }
    }

    .nav-menu {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
        z-index: 99;

        .list-menu {
            list-style: none;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .menu-item.expand {
                overflow: unset;
            }
            .menu-item {
                position: relative;
                padding: 0 20px;
                overflow: hidden;

                &::after {
                    position: absolute;
                    content: "";
                    top: 20px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                }

                >a {
                    text-decoration: none;
                    color: #fff;
                    font-size: 14px;
                    transition: .3s;

                    &:hover {
                        color: #ccc;
                        cursor: pointer;
                    }
                }
            }
        }

        .list-menu-mb {
            display: none;
        }

        .sub-menu {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            position: absolute;
            top: 170%;
            left: 0;
            list-style: none;
            width: 120%;
            border-radius: 2px;
            transform: translateY(-5px);
            opacity: 0;
            overflow: hidden;
            transition: .3s;
            box-shadow: 0 0px 4px rgba($color: #000000, $alpha: .2), 0 4px 8px rgba($color: #000000, $alpha: .1);

            li {
                display: flex;
                align-items: center;

                a {
                    width: 100%;
                    text-decoration: none;
                    color: #000;
                    font-size: 14px;
                    padding: 6px 20px;
                    transition: .1s;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }

        .sub-drop {
            transform: translateY(0);
            opacity: 1;
            z-index: 999;
        }
    }

    .nav-search {
        display: flex;
        height: 100%;
        margin-left: 100px;
        align-items: center;
        justify-content: center;
        flex-shrink: 1;

        .btn-search.active {
            border-bottom: 1px solid #fff;
        }
        .btn-search {
            display: flex;
            align-items: center;
            color: #fff;
            font-size: 14px;
            font-style: italic;
            transition: .3s;
            
            i {
                margin-right: 8px;
            }

            &:hover {
                color: #ccc;
                cursor: pointer;
            }
        }


        .box-search {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 50px;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 12px 0 12px 200px;
            margin: 0 auto;
            box-shadow: 0 0 8px rgba($color: #000000, $alpha: .1), 0 0 12px rgba($color: #000000, $alpha: .2);
            transform: scaleY(80px);
            opacity: 0;
            transition: .3s;
    
    
            div {
                width: 70%;
                height: 100%;
                display: flex;
                border-bottom: 1px solid #ccc;
                display: flex;
                align-items: center;
    
    
                input {
                    height: 100%;
                    flex: 1;
                    border: none;
                    background-color: transparent;
                    outline: none;
    
                    &::placeholder {
                        font-style: italic;
                        color: gray;
                    }
                }
    
                span {
                    display: block;
                    font-size: 20px;
                    color: gray;
                    transition: .3s;
    
                    &:hover {
                        color: #000;
                        transform: scaleX(150%);
                    }
                }
            }
    
            .btn-close {
                padding: 12px;
                display: block;
                color: #000;
                cursor: pointer;
            }
        }
    
        .box-search.open {
            transform: scaleY(100%);
            opacity: 1;
        }
    }
}
// end navbar


// content
#content {

}

.content-wrap {
}

.content-landing {
    width: 100vw;
    height: calc(100vh - 60px);
    overflow: hidden;

    
    .landing-container {
        width: inherit;
        height: inherit;

        img {
            width: inherit;
        }
    }
}

.content-brochure {
}
.content-brochure--head {
    width: 100vw;
    .container {
        width: inherit;
        // padding: 10px 0;
        text-align: center;
        background-color: #000;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: inherit;
        height: 285px;

        .title-logo {
            img {
                height: 80px;
            }
        }

        .title-text {

            h2 {
                font-size: 40px;
                font-family: 'Playfair Display', serif;                color: #fff;
                line-height: 1.2;

                &:first-child {
                    font-weight: 400;
                }
            }
        }
    }
}

.brochure-item {
    width: inherit;
    height: 855px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.temp-a {}
    &.temp-b {
        flex-direction: row-reverse;
    }

    .brochure-img {
        width: 50%;
        height: 100%;
        overflow: hidden;

        img {
            height: 100%;

            &.w-100 {
                width: 100%;
                height: auto;
            }
        }
    }

    .brochure-cap {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100%;

        h1 {
            font-family: $font-second;
            font-size: 77px;
            font-weight: 500;
            color: #fff;
            line-height: 1;
        }
        p{  
            font-family: 'Palanquin', sans-serif;
            font-size: 29px;
            transform: scaleY(85%);
            font-weight: 100;
            color: #fff;
            padding: 20px 0;
        }
        .btn-dwl {
            display: inline-flex;
            align-items: center;
            width: max-content;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            background-color: #000;
            transition: .2s;
            cursor: pointer;

            &:hover {
                color: #fff;
                background-color: #ce2700;
                border: 1px solid #ce2700;
            }
            
            span {
                font-family: 'Palanquin', sans-serif;
                padding: 6px 12px;
                font-size: 20px;
                font-weight: 100;
                transform: scaleY(90%);
                letter-spacing: .05em;
            }
        }
    }
}

// end content


// footer
#bot {

    .footer {
       width: 100vw; 
       background-color: #000;
    }
}

.ft-container {
    font-family: $font-second;
    font-weight: 400;
    width: inherit;
    text-align: center;
    color: #fff;
    margin: 50px 0 20px 0;

    .ft-addr {
        margin-bottom: 20px;

        p {     
            letter-spacing: .05em;
            font-size: 12px;
            line-height: 2;
        }
    }

    .ft-private {

        a { 
            letter-spacing: .05em;
            font-size: 14px;
            color: #fff;
            cursor: pointer;
        }
    }
}
// end footer